apiVersion: v1
kind: ServiceAccount
metadata:
  name: conductor-app
  labels:
    app.kubernetes.io/name: orkes-conductor
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: app
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: Helm
  {{- with .Values.conductor.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: conductor-workers-app
  labels:
    app.kubernetes.io/name: orkes-conductor
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: workers
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: Helm
  {{- with .Values.workers.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
