apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.vault.server.serviceAccount | default "conductor-app" }}
  labels:
    {{- include "orkes-conductor.labels" . | nindent 4 }}
  annotations:
    {{- if and .Values.vault.enabled .Values.vault.server.enabled }}
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: {{ .Values.vault.server.role | quote }}
    {{- if .Values.vault.server.annotations }}
    {{- toYaml .Values.vault.server.annotations | nindent 4 }}
    {{- end }}
    {{- end }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.vault.workers.serviceAccount | default "conductor-workers-app" }}
  labels:
    {{- include "orkes-conductor.labels" . | nindent 4 }}
  annotations:
    {{- if and .Values.vault.enabled .Values.vault.workers.enabled }}
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: {{ .Values.vault.workers.role | quote }}
    {{- if .Values.vault.workers.annotations }}
    {{- toYaml .Values.vault.workers.annotations | nindent 4 }}
    {{- end }}
    {{- end }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
