apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-server
  labels:
    app.kubernetes.io/name: orkes-conductor
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: app
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  ports:
    - name: api
      port: {{ .Values.conductor.ports.api }}
      targetPort: 8080
      protocol: TCP
    - name: ui
      port: {{ .Values.conductor.ports.ui }}
      targetPort: 5000
      protocol: TCP
  selector:
    app.kubernetes.io/name: orkes-conductor
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: app
