apiVersion: v1
kind: Service
metadata:
  name: {{ include "orkes-conductor.fullname" . }}
  labels:
    {{- include "orkes-conductor.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: 5000
      name: default-port
  selector:
    {{- include "orkes-conductor.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "orkes-conductor.fullname" . }}-app
  labels:
    serviceName: {{ include "orkes-conductor.fullname" . }}-app
    {{- include "orkes-conductor.labels" . | nindent 4 }}-app
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.appPort }}
      protocol: TCP
      targetPort: 8080
      name: default-app-port
  selector:
    {{- include "orkes-conductor.selectorLabels" . | nindent 4 }}
---
{{- if .Values.app.grpcServerEnabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "orkes-conductor.fullname" . }}-grpc
  labels:
    serviceName: {{ include "orkes-conductor.fullname" . }}-grpc
    {{- include "orkes-conductor.labels" . | nindent 4 }}-grpc
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.grpcPort }}
      protocol: TCP
      targetPort: 8090
      name: default-grpc-port
  selector:
    {{- include "orkes-conductor.selectorLabels" . | nindent 4 }}
{{- end -}}
